---
let localStorageItems = { ...localStorage };
import Notes from '../components/Notes.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout />
<div class="row my-56 flex justify-center gap-11">
  <input
    type="text"
    class="rounded-lg border border-violet-500 bg-zinc-800 text-violet-300 placeholder:text-center placeholder:text-violet-300 hover:border-violet-400"
    placeholder="Idea"
    id="noteInput"
  />
  <button
    class="align-center flex justify-center rounded-2xl border border-violet-500 bg-zinc-700 px-3 py-3 hover:border-violet-400 hover:bg-violet-300 hover:stroke-zinc-800"
    id="addButton"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke=""
      class="h-6 w-6 stroke-violet-300"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"></path>
    </svg>
  </button>
</div>
<Notes />

<script>
  function saveNote() {
    let noteInput = document.getElementById('noteInput') as HTMLInputElement;
    let noteValue = noteInput.value;
    const localStorageItemName = `note-${noteValue}`;
    localStorage.setItem(localStorageItemName, noteValue);
  }
  document.getElementById('addButton').addEventListener('click', saveNote);
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;600&display=swap');
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Heebo', sans-serif;
  }
</style>
