<div class="row my-56 flex justify-center gap-11">
  <input
    type="text"
    class="rounded-lg border border-violet-500 bg-zinc-800 placeholder:text-center placeholder:text-violet-300"
    placeholder="Idea"
    id="noteInput"
  />
  <button
    onclick="saveNote()"
    class="align-center flex justify-center rounded-2xl border border-violet-500 bg-zinc-700 px-3 py-3"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke=""
      class="h-6 w-6 stroke-violet-300"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"></path>
    </svg>
  </button>
</div>
